
header {
    width: 100%;
    background-color: #06377B;
    color: white;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}

h1 {
  text-align: center;
}

#headerlogo {
  height: 120px;
  width: px;
  display: flex;
}

footer{
  background-color: #06377B;
  height: 50px;
  margin-top: 50px;
  color: white;
}

.rfooter{
  width: 50%;
  float: right;
  text-align: right;
}

.lfooter{
  width: 50%;
  float: left;
  text-align: left;
}

main{
  margin: auto;
  width: 50%;
  border: 3px solid #06377B;
  padding: 10px;
  height: 350px;
}

.leftbox{
  float: left;
  border: 3px solid #06377B;
  padding: 10px;
  height: 327px
}

.rightbox{
  position: relative;
  margin-left: 10px;
  float: left;
  border: 3px solid #06377B;
  padding: 10px;
  height: 327px;
}