header {
  padding: 0;
  margin: 0;
  background-color: #06377B;
  border-bottom: 1px solid #e6e6e6;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  z-index: 100;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 20px;
}

#headerlogo {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

footer{
  background-color: #06377B;
  height: 50px;
  margin-top: 50px;
  color: white;
}

.rfooter{
  width: 50%;
  float: right;
  text-align: right;
}

.lfooter{
  width: 50%;
  float: left;
  text-align: left;
}