################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sovellusnettisivu/.vs/Sovellusnettisivu/FileContentIndex/d98f839d-9602-452b-bbfb-e10c1fefa1d3.vsidx
/Sovellusnettisivu/.vs/Sovellusnettisivu/FileContentIndex/64587d53-9973-47c4-864e-078363211367.vsidx
